<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知了课堂</title>
    <link rel="stylesheet" href="{% static '/css/index.min.css' %}">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_976783_4zreosbjz1c.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo-box">
            <a href="/"></a>
        </div>
        <div>
            <ul class="nav">
                <li class="active"><a href="">创业资讯</a></li>
                <li><a href="">创业课堂</a></li>
                <li><a href="">付费咨询</a></li>
                <li><a href="">搜索</a></li>
            </ul>
        </div>
        <div class="auth-box">
            <i class="icon-person iconfont"></i>
            <a href="">登录</a> /
            <a href="">注册</a>
        </div>
    </div>
</header>
</body>
</html>